@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700');

body {
  margin: 0;
  padding: 0;
  max-width: 1300px;
  margin: 0 auto;
  background: #E0E1DD;
  font-family: 'Ubuntu Mono', monospace;
}

